name: terraform-plan workflow

on: [workflow_dispatch]

env:
  TF_API_TOKEN: ${{ secrets.TF_API_TOKEN }}

jobs:
  plan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Test
        run: terraform plan