name: terraform-plan workflow

on: [workflow_dispatch]

env:
  TF_API_TOKEN_app_terraform_io: ${{ secrets.TF_API_TOKEN }}

jobs:
  plan:
    runs-on: ubuntu-latest
    steps:
      - name: Install terraform
        uses: hashicorp/setup-terraform@v3
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Terraform init
        run: terraform init
      - name: Terraform plan
        run: terraform plan
